@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&family=Jaini&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#root {
  margin: 0;
  padding: 0;
  --primary-color: #37a4e7; /* Google Blue for main elements */
  --secondary-color: #417b5a; /* Gemini Green for highlights */
  --accent-color: #f6983a; /* Amber for accents and calls to action */
  --text-color: black; /* Black for regular text for good readability */
  --tertiary-color: #ffffff; /* White for backgrounds */
  --container-color: #37a4e77b;
  --container-shadow: 0 0 10px 5px rgba(109, 107, 107, 0.473);
  --btn-shadow: 0 0 5px 3px rgba(109, 107, 107, 0.473);
  --primary-gradient: linear-gradient(
    90deg,
    rgb(236, 225, 207) 0%,
    dodgerblue 100%
  );
  font-family: 'Cinzel', serif;
}

main {
  margin: 0;
  padding: 0;
}

.sections label {
  font-weight: 700 !important;
}

.pageContainer {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

.header {
  max-height: 500px;
  width: 100%;
  padding: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background: url(./assets/images/socialHeader3.jpg) no-repeat center
    center/cover;
  margin-top: 50px;
  position: relative;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: var(--container-shadow);
}

.overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(208, 238, 239, 0.8) 100%
  );
  border-radius: 5px;
}

.header h1 {
  font-size: calc(2rem + 2vmin);
  font-family: 'Cinzel Decorative', cursive;
}

.header img {
  width: 100%;

  margin-top: 20px;
}

.floating {
  animation: floatUp 4s infinite ease-in-out;
}

.primary {
  color: var(--primary-color);
  font-size: calc(1.4rem + 1vmin);
}

.primary2 {
  color: var(--primary-color);
}

.footer {
  height: 60px;
  width: 100%;
  text-align: center;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 20px;

  margin-bottom: 25px;
}

.warning {
  color: gray;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300;
  font-size: 18px;
  width: 100%;
}

.footer img {
  width: 100px;
  height: 100px;
  animation: spin infinite 20s linear;
}

.footer a {
  color: var(--primary-color);
  text-decoration: none;
}

.footer p {
  font-size: 12px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.btn {
  background-color: dodgerblue;
  color: var(--tertiary-color);
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
  box-shadow: var(--btn-shadow);
  font-family: 'Cinzel Decorative', cursive;
  font-weight: 700;
}

.btn:hover {
  background-color: rgb(248, 161, 12);
}

.btn:active {
  background-color: rgb(248, 161, 12);

  scale: 0.9;
}

.sections h1 {
  font-size: 1.8rem;
  font-weight: 900;
  font-family: 'Cinzel Decorative', cursive;
  text-align: center;
  margin: 0px auto;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

@keyframes floatUp {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media (max-width: 900px) {
  .header {
    min-height: 20vh;
  }

  .header h3 {
    font-size: 0.8rem;
  }

  .footer img {
    width: 50px;
    height: 50px;
  }

  .footer {
    font-size: 16px;
  }
}
