#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --background-main: linear-gradient(-65deg, #f78d3b, #0382f8, #f78d3b);
}

body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
