.login a {
  color: gray;
  text-decoration: none;
}

.login a:hover {
  color: #b1b1b5;
  text-decoration: underline;
}

.login a:active {
  color: #47c2f7;
  text-decoration: underline;
}

.login {
  margin: auto;
  max-width: 400px;
}

.login label {
  color: var(--text-color);
  font-size: 22px;

  font-family: 'Cinzel', serif;
}

.login input {
  width: 100%;
  padding: 10px;

  border-radius: 5px;
  border: 1px solid var(--primary-color);
  font-size: 20px;
  font-family: 'Cinzel;', serif;
}

.login p {
  color: var(--text-color);
  font-size: 20px;
  font-family: 'Cinzel;', serif;
}
