.navbar {
  border-bottom: 3px double var(--accent-color);
  background: dodgerblue;
  margin: auto;
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100vw;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 80px;
  justify-content: space-evenly;
  font-size: 1rem;
  text-align: center;
  align-content: center;
  box-shadow: var(--container-shadow);
}

.navbar__link {
  text-decoration: none;
  color: white;
  margin: auto;
  font-size: 55px;
  margin-top: 5px;
  text-align: center;
}

.navbar__link:hover {
  color: var(--accent-color);
}

.navbar__link--active {
  scale: 0.9;
}

@media (max-width: 768px) {
  .navbar {
    height: 50px;
  }

  .navbar__link {
    font-size: 35px;
  }
}
