.generator__container {
  width: 90%;
  max-width: 850px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(18px + 1.5vmin);

  background-color: var(--container-color);
  box-shadow: var(--container-shadow);

  border-radius: 15px;
  margin-bottom: 60px;
  overflow: hidden;
}

.generator__container img {
  width: 100%;
  box-shadow: var(--btn-shadow);

  height: auto;
  border-bottom: var(--primary-color) 3px solid;
}

.social_media {
  margin: 20px auto;
}

.post-container {
  padding: 10px 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 22px;
  color: black;
  width: 100%;
  border-radius: 15px;
  margin-bottom: 10px;
  color: black;
}

.post-container label {
  color: var(--text-color);
  font-weight: 900;
  font-family: 'Cinzel Decorative', cursive;
  margin: 10px 0;
  margin-bottom: 3px;
  font-size: 18px;
  text-wrap: wrap;
}

.post-container textarea {
  width: 90%;
  max-width: 600px;
  height: 100px;
  margin: 10px auto;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  font-size: 20px;
  font-family: 'Cinzel;', serif;
  text-align: center;
}

.post_text {
  margin: 20px auto;
}

.post-container textarea::placeholder {
  color: rgb(73, 72, 72);
  font-size: 1.2rem;
  text-align: center;
  font-family: 'Cinzel', serif;
}

.post-container input[type='text'] {
  border-radius: 5px;
  max-width: 50%;
  font-family: 'Cinzel', serif;
  border: 1px solid var(--primary-color);
  text-align: center;
}

.sections {
  margin: 10px auto;
}

.row_1,
.row_2,
.row_3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  flex-wrap: wrap;
  padding: 5px auto;
}

.row_2 {
  width: 50%;
}

.row_3 {
  width: 100%;
}

.row_3 label {
  font-family: 'Cinzel Decorative', cursive;
  margin: auto;
  font-weight: 300;
  color: black !important;
}

.row_4 {
  display: flex;
  flex-direction: row;

  align-items: center;
  color: black;
  flex-wrap: wrap;

  width: 50%;
}

.post-container input[type='checkbox'],
.row_1 input[type='checkbox'],
.row_2 input[type='checkbox'] {
  height: 15px;
  width: 15px;

  accent-color: dodgerblue;
}

.row_1 label,
.row_2 label {
  width: 45%;
  color: var(--primary-color);
  font-family: 'Cinzel Decorative', cursive;
  margin: auto;
  font-size: 18px;
}

.btn__holder {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../images/blankIcons.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: -25px;
  border-top: var(--primary-color) 3px solid;
}

.keywords_select {
  display: flex;
  flex-direction: column;
}

.keywords_select p {
  color: rgb(84, 83, 83);
  font-style: italic;
  margin: 0px auto;
  font-size: 16px;
}

.post-container input[type='text'] {
  color: navy;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 3px auto;
  width: 60%;
  max-width: 450px;
  font-size: 18px;
}

.post__container textarea {
  color: navy;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 3px auto;
  width: 90%;
  max-width: 450px;
  font-size: 18px;
  background-color: white;
  height: 500px;
}

.post-container input[type='text']:focus {
  border: 1px solid var(--secondary-color);
}

.row_4 label {
  font-family: 'Cinzel Decorative', cursive;
  margin: auto;
  font-weight: 300;
  font-size: 45px;
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: black;
}

.row_2 label {
  font-family: 'Cinzel Decorative', cursive;
  margin: auto;
  font-weight: 300;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: black;
}

.active {
  color: var(--secondary-color);
}

.social_word {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 18px;
  font-weight: 100;
}

.post__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 22px;
  color: black;
  margin: auto;
  width: 80%;
  border-radius: 15px;
  margin-bottom: 10px;
  color: black;
}

@media (max-width: 600px) {
  .social_word {
    display: none;
  }

  .row_2 {
    width: 100%;
  }
}
